<div class="flex justify-center p-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 w-full max-w-7xl">
    <!-- Chart component spans 3 rows and 2 columns -->
    <div class="col-span-1 sm:col-span-2 lg:col-span-1 row-span-3 rounded-lg shadow-lg p-6 bg-white">
      <app-earnings-expence></app-earnings-expence>
    </div>

    <!-- Cards in a single column on the right -->
    <div class="col-span-1 sm:col-span-2 lg:col-span-1">
      <div class="rounded-lg shadow-lg p-6 mb-6 bg-white">
        <app-earning></app-earning>
      </div>
      <div class="rounded-lg shadow-lg p-6 mb-6 bg-white">
        <app-savings></app-savings>
      </div>
      <div class="rounded-lg shadow-lg p-6 bg-white">
        <app-expense></app-expense>
      </div>
    </div>
  </div>
</div>





<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <div class="col-span-1">
    <app-recent-transactions></app-recent-transactions>
  </div>
  <div class="col-span-1">
    <app-most-expensive-purchases></app-most-expensive-purchases>
  </div>
</div>